* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes backpip {
  from {
    background: url("../image/pexels-wildlittlethingsphoto-1015568.jpg")
      no-repeat center center/cover;
  }
  to {
    background: url("../image/pexels-fotios-photos-1833769.jpg") no-repeat
      center center/cover;
  }
}
h1 {
  color: coral;
  padding-bottom: 1.5rem;
}
.bg-blue {
  background-color: rgb(227, 236, 240);
  color: black;
}
a {
  /* color: #fff; */
  text-decoration: none;
}
small {
  color: coral;
}
li {
  list-style: none;
}
button {
  color: coral;
}
button:hover,
.reservation-form .reserve button:hover {
  background-color: coral;
  color: #fff;
}
.bg-dark {
  background-color: #333;
  color: #fff;
}
.bg-light {
  color: coral;
  background-color: #fff;
}
.page-container {
  background: url("../image/pexels-wildlittlethingsphoto-1015568.jpg") no-repeat
    center center/cover;
  width: 100%;
  height: 90vh;
  position: relative;
  color: #fff;
  text-align: center;
  animation: backpip 10s ease-in-out 2s both;
}
.page-container .nav-bar {
  padding: 2rem;
  text-align: center;
  position: fixed;
}
.nav-bar .fixed {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  text-align: center;
  position: fixed;
}
.page-container .nav-bar ul {
  display: flex;
  text-align: center;
}

.page-container .nav-bar ul a:hover {
  background-color: #333;
  color: #fdfdfddc;
  border: none;
  border-radius: 20%;
  height: 10px;
}
.page-container .nav-bar ul a {
  padding: 0.5rem 1rem;
  margin: 5px;
  background-color: rgba(219, 101, 13, 0.8);
  border: none;
  border-radius: 20px;
  color: rgb(245, 235, 232);
}
.page-container .nav-bar h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #fff;
}
.bright {
  margin: auto;
  display: flex;
}
.nav-bar .bright .sun {
  display: none;
}
.nav-bar.active .bright .sun {
  display: block;
}
.nav-bar.active .bright .moon {
  display: none;
}
.nav-bar .bright .moon {
  display: block;
}
.page-container .about-h1 {
  display: block;
  align-items: center;
  padding-top: 30px;
  margin: auto;
  padding-top: 18rem;
  font-size: 2rem;
  color: coral;
}
.reservation-form {
  height: 90vh;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.reservation-form .reserve-wall {
  text-align: center;
  padding: 1rem;
}
.reservation-form .reserve {
  background: url("../image/pexels-fotios-photos-1855214.jpg") no-repeat center
    center/cover;
  text-align: center;
  max-width: 1100px;
  border-radius: 40px;
  height: 80vh;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 2rem;
}
.reservation-form .reserve form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: auto;
  padding: 20px;
  width: 50%;
}
.reservation-form .reserve form input {
  margin: 20px;
  height: 50px;
  background-color: #fff;
  opacity: 0.6;
  border: 1px solid#ffff;
  margin-bottom: 10px;
}
.reservation-form .reserve form input:focus {
  outline: none;
}
.reservation-form .reserve h1 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
.reservation-form .reserve p {
  color: #fff;
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.reservation-form .reserve button {
  background: transparent;
  color: #ffff;
  background-color: transparent;
  opacity: 0.8;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  margin: auto;
}
.section-info {
  height: 80vh;
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
}
.section-info .info {
  width: 70%;
  height: 80%;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  padding-top: 5rem;
  border: 1px dotted coral;
  max-width: 1100px;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}
.section-info .info-image {
  width: 60%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  text-align: center;
}
.section-info .info-image h1 {
  text-align: center;
  font-style: italic;
  padding: 2rem;
}
.section-info .info-image img {
  width: 50%;
  height: 100%;
  border-radius: 2rem;
}
.contact {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin: auto;
  height: 20vh;
  text-align: center;
  padding: 2rem;
  max-width: 768px;
  color: coral;
}
footer {
  height: 50vh;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.foot-wrap {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.foot-wrap .foot-box {
  text-align: center;
  padding: 20px;
  line-height: 1.5rem;
}
.foot-wrap .foot-box p {
  padding: 10px;
}
